<div class="container mt-4">

  <!-- 			<ul class="user-list row justify-content-between"> -->
        <ul class="model-list col ">
          <div *ngFor="let commentary of commentaries; index as i">
            <!-- <li class="element user justify-content-between" id="${commentary.id}" data-content="user" data-id="${commentary.id}" data-searchable="${commentary.user} ${commentary.comment}"> -->
            <li class="element commentary commentary-list justify-content-between">

              <div>
                <p class="h4"><i class="far fa-comment"></i><i>  by {{setUserComChosen[i].firstName}} {{setUserComChosen[i].lastName}}</i></p>
                <h6>{{setWorkComChosen[i].title}}</h6>
                <p>{{commentary.comment}}</p>
              </div>

              <!-- <div *ngIf="connectedUser.userRole == 'admin'">             
                <div class="btn-user-remove user-list-btn m-1">
                  <button id="user-${user.id}" class="btn btn-danger" onclick="clickEditCommentaryButton(this)" data-id="{{user.id}}">Edit</button>
                </div>
                <div class="btn-user-remove user-list-btn m-1">
                  <button id="user-${user.id}" class="admin rm-user-button btn btn-danger" onclick="clickRemoveCommentaryButton(this)" data-id="{{user.id}}">Delete</button>
                </div>             
              </div> -->

            </li>
          </div>
        </ul>
     
</div>