<div *ngIf="!router.url.includes('photo')">
	<div class="footer">
		<h5>ttabPhoto.com</h5>
		<p>Thank you for your support.<br>
			Ranked #1 photography website by <i>AtomicFoto.su</i></p>
	</div>
</div>