/* Styles for footer *****************************************************************************/

/* Footer */
.footer {
    padding: 10px;
    text-align: center;
/* 	background: #13090f; */
    margin-top: 10px;
}

.footer h5, .footer p {
/* 	color: #eef0eb; */
}
