/* Styles for gallery *****************************************************************************/

/* Card version */

.card {
	width: 300px;
}

.cardImageDiv {	
	height: 200px;
	width: 300px;
}

.cardImageDiv img {
	max-height: 100%;
	width: auto;
}

.cardContent {
	cursor: pointer;
	text-decoration : none;
	text-align: center;
	color: #160b11;
}
