<div class="container mt-4">
  <div class="row justify-content-center">

    <div *ngFor="let work of setWorkGalChosen">
      <div class="element col-auto mb-4">
        <!-- <div class="card"  routerLink='../../photo/{{work.id}}'> -->
        <div class="card"  [routerLink]="['/photo', work.id]">
          <div class="cardImageDiv d-flex justify-content-center">
            <img class="card-img-top cardContent mw-100" src="../../../assets/images/{{work.urlLocation}}" alt="{{work.title}} image"/>
          </div>	
          <div class="card-body">
            <h4 class="card-title cardContent">{{work.title}}</h4>
            <p class="card-text cardContent">{{work.description}}</p>
          </div>
        </div>
      </div>
    </div>  

  </div>
</div>