/* Styles for header *****************************************************************************/
* {
	z-index: 5;
}
.header {
    padding: 20px;
    text-align: center;
/*     background: #a3a380; */   
}

.header h1 {
    font-size: 80px;
/*     color: #eef0eb; */
}

/* Styles for navbar *****************************************************************************/

.navbar-brand {
	cursor: default;
}

.navbar button {
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;
}

.navbar a {
	cursor: pointer;
}
