<!-- CHANGE Z as navbar behind carousel !!!!!!!!!!!!!!! -->
<div *ngIf="!router.url.includes('photo')">

	<div class="header">
		<h1>TTab Photography</h1>
	</div>

	<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="background-color: #160b11;">

		<span *ngIf="!connectedUser" class="navbar-brand">Welcome</span>
		<!-- PROBLEM -->
		<a *ngIf="connectedUser" class="navbar-brand" href="#"><i class="fas fa-user-circle"></i> {{connectedUser.login}}</a>


		<!-- 	Responsive collapse plus menu button -->
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav mr-auto">

				<!-- 		ADD HIGHLIGHT WHEN WE ARE HERE -->
				<li class="nav-item active"><a class="nav-link" routerLink="/home">Home</a></li>
									
				<!-- 	Galleries Dropdown -->

				<li ngbDropdown class="nav-item d-inline-block">
					<a class="nav-link" id="navbarDropdownGals" role="button" ngbDropdownToggle>Galleries </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdownGals">
						<a *ngFor="let gallery of galleries" class="dropdown-item" routerLink="/gallery/{{gallery.id}}">{{gallery.title}}</a>
					</div>
				</li>
				
				<!-- 	Utils Dropdown -->
				
				<li *ngIf="connectedUser" ngbDropdown class="nav-item d-inline-block">
					<a class="nav-link" id="navbarDropdownUtisl" role="button" ngbDropdownToggle>Utils </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdownUtils">
						<a class="dropdown-item" routerLink="/users">Users List</a>
						<a class="dropdown-item" routerLink="/models">Models List</a>
						<a class="dropdown-item" routerLink="/commentaries">Commentaries List</a>
					</div>
				</li>

			</ul>

			<!-- Search bar -->

			<form *ngIf='searchEnable' class="form-inline my-2 my-lg-0 mr-2">
				<div class="input-group-prepend mr-2">
					<span class=""><i class="fa fa-search fa-lg"></i></span>
				</div>
				<input class="form-control mr-sm-2" type="text" id="search" placeholder="search on this page" onkeyup="keyupSearchInput(this)"
				 aria-label="Search">
			</form>

			<!-- Connected user buttons -->

			<button *ngIf="!connectedUser" class="btn navbar-btn btn-dark" id="add-user-modal-button" onclick="clickAddUserButton(this)"><i
				 class="fas fa-user-plus"></i> Sign up</button>
			<button *ngIf="!connectedUser" class="btn navbar-btn btn-dark" id="show-signin-modal-button" data-toggle="modal"
			 data-target="#signin-modal"><i class="fas fa-sign-in-alt"></i> Sign in</button>
			<button *ngIf="connectedUser" class="btn navbar-btn btn-dark" id="add-user-modal-button" onclick="clickEditUserButton(this)"
			 data-id="${connectedUser.id}"><i class="fas fa-user-edit"></i></button>
			<button *ngIf="connectedUser" class="btn navbar-btn btn-dark" onclick="clickSignOutButton()"><i class="fas fa-sign-out-alt"></i>
				Sign out</button>


		</div>

	</nav>

</div>