/* Styles for carousel *****************************************************************************/


.imgCarouselDiv {	
	width: 900px;
	height: 600px;
	
}

.carousel-inner h5, .carousel-inner h5 {	
/* 	color: #eef0eb; */
}

.imgCarouselDiv img {
/* 	cursor: pointer; */
}

