<div class="container mt-4">
	<div class="row justify-content-center">

		<ngb-carousel *ngIf="galleries">
			<ng-template ngbSlide *ngFor="let gallery of galleries; index as i">
				<div class="d-flex justify-content-center imgCarouselDiv">
					<img class="mw-100 mh-100" src="../../../assets/images/{{setRefPhotoPerGal[i]}}"
						alt="{{gallery.title}}"
						routerLink="/gallery/{{gallery.id}}">
					</div>
					<div class="carousel-caption">
						<h3>---</h3>
						<h2>{{gallery.title}}</h2>
						<h4>{{gallery.description}}</h4>
					</div>
			</ng-template>
		</ngb-carousel>
	
	</div>
</div>