<ul class="model-list">
<!-- <ul class="user-list row"> -->
  <div *ngFor="let model of legalPersons; index as i">

    <li class="user element">
  <!-- <li class="user element" id="{{model.id}}" data-login="{{model.lastName}}" data-content="user" data-id="{{model.id}}"> -->
<!-- 	<li class="col-sm-4 user" id="{{model.id}}" data-login="{{model.lastName}}" data-content="user" data-id="{{model.id}}"> -->
      <div>
        <p class="h3">{{model.firstName}} {{model.lastName}}</p>
        <i>({{model.modelType}})</i>
      </div>
      <div class="">
        <h6 class="txtToCenter">featured in :</h6>
        <div class="container mt-4">
          <div class="row d-flex justify-content-center">

            <div *ngFor="let work of setWorkModChosen[i]">
              <div class="col-auto mb-4">
                <div class="card cardModel"  [routerLink]="['/photo', work.id]">
                  <div class="cardImageDiv cardImageDivModel d-flex justify-content-center">
                    <img class="card-img-top cardContent mw-100" src="../../../assets/images/{{work.urlLocation}}" alt="{{work.title}} image"/>
                  </div>	
                  <div class="card-body">
                    <h4 class="card-title cardContent">{{work.title}}</h4>
                    <p class="card-text cardContent">{{work.description}}</p>
                    </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <!-- <div *ngIf="connectedUser.userRole == 'admin'">
        <div>
          <div class="btn-user-remove user-list-btn m-1">
            <button id="user-{{user.id}}" class="btn btn-danger" onclick="clickEditModelButton(this)" data-id="{{user.id}}">Edit</button>
          </div>
          <div class="btn-user-remove user-list-btn m-1">
            <button id="user-{{user.id}}" class="admin rm-user-button btn btn-danger" onclick="clickRemoveModelButton(this)" data-id="{{user.id}}">Delete</button>
          </div>
        </div>
      </div> -->

    </li>


  </div>
</ul>