/* Styles for users / models *****************************************************************************/

.user {
	color: #eef0eb;
}

.txtToCenter {
	text-align: center;
}

.user-list, .model-list{
	list-style: none;
}

.user-list li, .model-list li {
 	display: flex; 
/* 	justify-content: space-between; */
	margin: 1rem;
	padding: 1rem;
	border: 2px #eef0eb solid;
	border-radius: 10px;
}


/* Card version */

.cardModel {
	width: 200px;
}

.cardImageDivModel {	
	height: 140px;
	width: 200px;
}

.cardImageDiv img {
	max-height: 100%;
	width: auto;
}

.cardContent {
	cursor: pointer;
	text-decoration : none;
	text-align: center;
	color: #160b11;
}