<div class="container mt-4">
    <div class="">
  
      <ul class="user-list row justify-content-between">
        <div *ngFor="let user of users" class='user-card'>
          <!-- <li class="element col-md-3 user justify-content-between" id="${user.id}" data-login="${user.login}" data-content="user" data-id="${user.id}"> -->
          <li class=" element col-md-3 user justify-content-between">
            <div>
              <p class="h4">{{user.login}}</p>
              <div>{{user.firstName}} {{user.lastName}}
                <div *ngIf="user.userRole == 'admin'">
                  <i> (administrator)</i>
                </div>
                <div *ngIf="user.userRole == 'simpleUser'">
                  <i> (regular user)</i>
                </div>
              </div>
            </div>
           <div *ngIf="connectedUser.userRole == 'admin'">
               <div>
                <div class="btn-user-remove user-list-btn m-1">
                  <button id="'user-'user.id" class="btn btn-danger" onclick="clickEditUserButton(this)" data-id="{{user.id}}">Edit</button>
                </div>
                <div class="btn-user-remove user-list-btn m-1">
                  <button id="'user-'user.id" class="admin rm-user-button btn btn-danger" onclick="clickRemoveUserButton(this)" data-id="{{user.id}}">Delete</button>
                </div>
              </div> 
            </div>				
          </li>
        </div>
      </ul>
    
    </div>
  </div>