/* Styles for users / models *****************************************************************************/

.user {
	color: #eef0eb;
}

.txtToCenter {
	text-align: center;
}

.user-list, .model-list{
	list-style: none;
}

.user-card {
 	display: flex; 
/* 	justify-content: space-between; */
	margin: 1rem;
	padding: 1rem;
	border: 2px #eef0eb solid;
	border-radius: 10px;
}
