/* You can add global styles to this file, and also import other style files */
.backcolor {
	background-color: red;
}

* {
	/* Make width/height include paging, margin and border or all elements */
    /* box-sizing: border-box; */
    font-family: 'Permanent Marker', cursive;/*'Pacifico', cursive;*/
    cursor: auto;
    z-index: 0;    
}

p, h1, h2, h3, h4, h5, span {
	color: #eef0eb;
}

/* Style for whole body **************************************************************************/

body {
/* 	font-family: 'Permanent Marker', cursive; */
    /* padding: 10px; */
    background: #160b11;
/*     color: #eef0eb; */
}

.link {
	cursor: pointer;
}
