
        <div [ngStyle]="{'height': '1px'}" (click)="goBackUrl()">
          <img src='../../../assets/images/{{ photoChosen.urlLocation }}' alt="image" id="photoId" class="img-fluid mh-100 imgDisplayFull" />
          <div class="imgDescriptionDiv">
            <h5 class="imgDescriptionTxt">{{photoChosen.title}}</h5>
          </div>
        </div>

