/* Styles for photo *****************************************************************************/

.imgDivContainer {
    height: 1px;
}

.imgDisplayFull {

	/* image in full screen */
    position: absolute;
    top: 50%;   
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */

	z-index: -1;
	/* background-color: red; */
}

.imgDescriptionDiv {
    /* image description text position */
    position: absolute;
    top: 90%;   
    left: 50%;
    transform: translate(-50%);
    /* image description text formatting */
    background-color: #13090f50;
    padding: 10px 10px;
    border-radius: 10px;
}


.imgDescriptionTxt {
    color: #eef0eb;
}

.imgPopupDiv span {
	cursor: default;
	color: green;
}